# 財務諸表分析をやってみた
- モチベーション
　　財務諸表についての講義を受けて、学んだことをきっかけに何か一つアクションを起こしたいと思ったから。

In [1]:
import os
import pickle
import sys
import warnings
from glob import glob

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import shap
import xgboost
from scipy.stats import spearmanr
from sklearn.ensemble import (
    ExtraTreesRegressor,
    GradientBoostingRegressor,
    RandomForestRegressor,
)
from sklearn.metrics import accuracy_score, mean_squared_error
from tqdm.auto import tqdm


# 表示用の設定を変更します
%matplotlib inline
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
pd.options.display.width = 120

# 売上高

In [3]:
dt = pd.read_csv("../data_set/fy-data-all.csv", encoding="utf-8")

#financial_data[["売上高"]]
dt

         年度           売上高          営業利益 経常利益          純利益     EPS    ROE   ROA
0   2008/03  222567000000   42606000000    -   4228000000       -   1.83  0.35
1   2009/03  130922000000    4403000000    - -18375000000       -      -     -
2   2010/03  124541000000    3431000000    -   2350000000      14   0.65  0.19
3   2011/03  141081000000    8932000000    -   4534000000   22.73   1.14  0.35
4   2012/03  175383000000   14990000000    -   -312000000   -1.39      -     -
5   2013/03  154889000000   17386000000    -   3817000000      17   1.26  0.15
6   2014/03  233336000000   42224000000    -  21439000000   99.04   6.58  0.75
7   2015/03  247423000000   68209000000    -  45721000000  211.18  11.92  1.34
8   2016/03  261744000000             -    -  34115000000  160.83   9.18  1.09
9   2017/03  261939000000             -    -  32455000000  159.38   8.59  0.84
10  2018/03  337017000000  123092000000    -  46684000000  220.54  10.91  1.03
11  2019/03  351411000000  140525000000    -  52548000000  231.43  11.51  1.04
12  2020/03  368055000000  125133000000    -  37487000000  163.18    8.3  0.68
13  2021/03  541145000000  235300000000    -  81098000000  339.78  14.43  1.13